{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Email Sent</title>
    <link rel="stylesheet" href="{% static 'pages/css/signup_style.css' %}" />
  </head>
  <body>
    <div class="signup-container" style="text-align: center">
      <h2>Check your inbox.</h2>
      <p>
        We've emailed you instructions for setting your password. You should
        receive the email shortly!
      </p>
      <div class="back-to-login">
        <a href="{% url 'login_page' %}">Back to Login</a>
      </div>
    </div>
  </body>
</html>
