{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Set New Password</title>
    <link rel="stylesheet" href="{% static 'pages/css/signup_style.css' %}" />
  </head>
  <body>
    <div class="signup-container">
      <form method="POST">
        {% csrf_token %}
        <h2>Set a New Password</h2>
        {% if form.errors %}
        <p style="color: red">
          There was an error with your submission. Please correct it below.
        </p>
        {% endif %}

        <!-- Django's form handles the password fields automatically -->
        {{ form.as_p }}

        <button type="submit">Set New Password</button>
      </form>
    </div>
  </body>
</html>
